@font-face {
    font-family: cricket;
    /* src: url("./cricket-font/CricketPersonalUseBold-L39lW.ttf") format("truetype"); */
    src: url("../font/cricket-font/CricketPersonalUseBold-L39lW.ttf") format("truetype");
}
@font-face {
    font-family: inborn;
    src: url("./inborn-font/InbornPersonalUseRegular-lgedV.ttf") format("truetype");
}
@font-face {
    font-family: reward;
    src: url("./reward-font/RewardPersonalUseRegular-qZAl5.ttf") format("truetype");
}
@font-face {
    font-family: trip-denied;
    src: url("./trip-denied-font/TripDeniedBackgroundRegular-mLmyx.ttf") format("truetype");
}
@font-face {
    font-family: trip-denied-98;
    src: url("./trip-denied-font/TripDeniedPersonalUseRegular-d98q6.ttf") format("truetype");
}